In [1]:
import numpy as np
import pandas as pd

In [2]:
df1 = pd.read_csv(r"C:\Users\USER\Downloads\tmdb_5000_credits.csv")
df2 = pd.read_csv(r"C:\Users\USER\Downloads\tmdb_5000_movies.csv")

In [3]:
df1.head()

,movie_id,title,cast,crew
0,19995,Avatar,"[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."
1,285,Pirates of the Caribbean: At World's End,"[{""cast_id"": 4, ""character"": ""Captain Jack Spa...","[{""credit_id"": ""52fe4232c3a36847f800b579"", ""de..."
2,206647,Spectre,"[{""cast_id"": 1, ""character"": ""James Bond"", ""cr...","[{""credit_id"": ""54805967c3a36829b5002c41"", ""de..."
3,49026,The Dark Knight Rises,"[{""cast_id"": 2, ""character"": ""Bruce Wayne / Ba...","[{""credit_id"": ""52fe4781c3a36847f81398c3"", ""de..."
4,49529,John Carter,"[{""cast_id"": 5, ""character"": ""John Carter"", ""c...","[{""credit_id"": ""52fe479ac3a36847f813eaa3"", ""de..."

In [4]:
df2.head()

,budget,genres,homepage,id,keywords,original_language,original_title,overview,popularity,production_companies,production_countries,release_date,revenue,runtime,spoken_languages,status,tagline,title,vote_average,vote_count
0,237000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.avatarmovie.com/,19995,"[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...",en,Avatar,"In the 22nd century, a paraplegic Marine is di...",150.437577,"[{""name"": ""Ingenious Film Partners"", ""id"": 289...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2009-12-10,2787965087,162.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}, {""iso...",Released,Enter the World of Pandora.,Avatar,7.2,11800
1,300000000,"[{""id"": 12, ""name"": ""Adventure""}, {""id"": 14, ""...",http://disney.go.com/disneypictures/pirates/,285,"[{""id"": 270, ""name"": ""ocean""}, {""id"": 726, ""na...",en,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...",139.082615,"[{""name"": ""Walt Disney Pictures"", ""id"": 2}, {""...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2007-05-19,961000000,169.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,"At the end of the world, the adventure begins.",Pirates of the Caribbean: At World's End,6.9,4500
2,245000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.sonypictures.com/movies/spectre/,206647,"[{""id"": 470, ""name"": ""spy""}, {""id"": 818, ""name...",en,Spectre,A cryptic message from Bondâ€™s past sends him o...,107.376788,"[{""name"": ""Columbia Pictures"", ""id"": 5}, {""nam...","[{""iso_3166_1"": ""GB"", ""name"": ""United Kingdom""...",2015-10-26,880674609,148.0,"[{""iso_639_1"": ""fr"", ""name"": ""Fran\u00e7ais""},...",Released,A Plan No One Escapes,Spectre,6.3,4466
3,250000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 80, ""nam...",http://www.thedarkknightrises.com/,49026,"[{""id"": 849, ""name"": ""dc comics""}, {""id"": 853,...",en,The Dark Knight Rises,Following the death of District Attorney Harve...,112.312950,"[{""name"": ""Legendary Pictures"", ""id"": 923}, {""...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2012-07-16,1084939099,165.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,The Legend Ends,The Dark Knight Rises,7.6,9106
4,260000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://movies.disney.com/john-carter,49529,"[{""id"": 818, ""name"": ""based on novel""}, {""id"":...",en,John Carter,"John Carter is a war-weary, former military ca...",43.926995,"[{""name"": ""Walt Disney Pictures"", ""id"": 2}]","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2012-03-07,284139100,132.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,"Lost in our world, found in another.",John Carter,6.1,2124

In [5]:
movies = df1.merge(df2,on='title')

In [6]:
movies.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4809 entries, 0 to 4808
Data columns (total 23 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   movie_id              4809 non-null   int64
 1   title                 4809 non-null   object
 2   cast                  4809 non-null   object
 3   crew                  4809 non-null   object
 4   budget                4809 non-null   int64
 5   genres                4809 non-null   object
 6   homepage              1713 non-null   object
 7   id                    4809 non-null   int64
 8   keywords              4809 non-null   object
 9   original_language     4809 non-null   object
 10  original_title        4809 non-null   object
 11  overview              4806 non-null   object
 12  popularity            4809 non-null   float64
 13  production_companies  4809 non-null   object
 14  production_countries  4809 non-null   object
 15  release_date          4808 non-null   object
 16  revenue               4809 non-null   int64
 17  runtime               4807 non-null   float64
 18  spoken_languages      4809 non-null   object
 19  status                4809 non-null   object
 20  tagline               3965 non-null   object
 21  vote_average          4809 non-null   float64
 22  vote_count            4809 non-null   int64
dtypes: float64(3), int64(5), object(15)
memory usage: 864.2+ KB

In [7]:
columns_to_drop=[4,6,7,9,10,12,13,14,16,17,18,19,20]
movies.drop(movies.columns[columns_to_drop],axis=1,inplace=True)

In [8]:
movies.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4809 entries, 0 to 4808
Data columns (total 10 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   movie_id      4809 non-null   int64
 1   title         4809 non-null   object
 2   cast          4809 non-null   object
 3   crew          4809 non-null   object
 4   genres        4809 non-null   object
 5   keywords      4809 non-null   object
 6   overview      4806 non-null   object
 7   release_date  4808 non-null   object
 8   vote_average  4809 non-null   float64
 9   vote_count    4809 non-null   int64
dtypes: float64(1), int64(2), object(7)
memory usage: 375.8+ KB

In [9]:
movies['release_date'] = pd.to_datetime(movies['release_date'], errors='coerce')
movies['year'] = movies['release_date'].dt.year
movies['decade'] = (movies['year'] // 10) * 10
movies.drop(columns="release_date",inplace=True)

In [10]:
movies.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4809 entries, 0 to 4808
Data columns (total 11 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   movie_id      4809 non-null   int64
 1   title         4809 non-null   object
 2   cast          4809 non-null   object
 3   crew          4809 non-null   object
 4   genres        4809 non-null   object
 5   keywords      4809 non-null   object
 6   overview      4806 non-null   object
 7   vote_average  4809 non-null   float64
 8   vote_count    4809 non-null   int64
 9   year          4808 non-null   float64
 10  decade        4808 non-null   float64
dtypes: float64(3), int64(2), object(6)
memory usage: 413.4+ KB

In [11]:
movies.dropna(inplace=True)

In [12]:
movies.info()

<class 'pandas.core.frame.DataFrame'>
Index: 4805 entries, 0 to 4808
Data columns (total 11 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   movie_id      4805 non-null   int64
 1   title         4805 non-null   object
 2   cast          4805 non-null   object
 3   crew          4805 non-null   object
 4   genres        4805 non-null   object
 5   keywords      4805 non-null   object
 6   overview      4805 non-null   object
 7   vote_average  4805 non-null   float64
 8   vote_count    4805 non-null   int64
 9   year          4805 non-null   float64
 10  decade        4805 non-null   float64
dtypes: float64(3), int64(2), object(6)
memory usage: 450.5+ KB

In [13]:
movies.duplicated().sum()

np.int64(0)

In [14]:
movies['genres'][0]

'[{"id": 28, "name": "Action"}, {"id": 12, "name": "Adventure"}, {"id": 14, "name": "Fantasy"}, {"id": 878, "name": "Science Fiction"}]'

In [15]:
import ast
from ast import literal_eval

In [16]:
movies['genres']=movies['genres'].apply(literal_eval)

In [17]:
movies['genres'][0]

[{'id': 28, 'name': 'Action'},
 {'id': 12, 'name': 'Adventure'},
 {'id': 14, 'name': 'Fantasy'},
 {'id': 878, 'name': 'Science Fiction'}]

In [18]:
def convert(obj):
    l=[]
    for i in obj:
        l.append(i['name'])
    return l

In [19]:
movies['genres']=movies['genres'].apply(convert)

In [20]:
movies['genres'][0]

['Action', 'Adventure', 'Fantasy', 'Science Fiction']

In [21]:
movies['keywords'][0]

'[{"id": 1463, "name": "culture clash"}, {"id": 2964, "name": "future"}, {"id": 3386, "name": "space war"}, {"id": 3388, "name": "space colony"}, {"id": 3679, "name": "society"}, {"id": 3801, "name": "space travel"}, {"id": 9685, "name": "futuristic"}, {"id": 9840, "name": "romance"}, {"id": 9882, "name": "space"}, {"id": 9951, "name": "alien"}, {"id": 10148, "name": "tribe"}, {"id": 10158, "name": "alien planet"}, {"id": 10987, "name": "cgi"}, {"id": 11399, "name": "marine"}, {"id": 13065, "name": "soldier"}, {"id": 14643, "name": "battle"}, {"id": 14720, "name": "love affair"}, {"id": 165431, "name": "anti war"}, {"id": 193554, "name": "power relations"}, {"id": 206690, "name": "mind and soul"}, {"id": 209714, "name": "3d"}]'

In [22]:
movies['keywords']=movies['keywords'].apply(literal_eval)
movies['keywords']=movies['keywords'].apply(convert)

In [23]:
movies.head()

,movie_id,title,cast,crew,genres,keywords,overview,vote_average,vote_count,year,decade
0,19995,Avatar,"[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de...","[Action, Adventure, Fantasy, Science Fiction]","[culture clash, future, space war, space colon...","In the 22nd century, a paraplegic Marine is di...",7.2,11800,2009.0,2000.0
1,285,Pirates of the Caribbean: At World's End,"[{""cast_id"": 4, ""character"": ""Captain Jack Spa...","[{""credit_id"": ""52fe4232c3a36847f800b579"", ""de...","[Adventure, Fantasy, Action]","[ocean, drug abuse, exotic island, east india ...","Captain Barbossa, long believed to be dead, ha...",6.9,4500,2007.0,2000.0
2,206647,Spectre,"[{""cast_id"": 1, ""character"": ""James Bond"", ""cr...","[{""credit_id"": ""54805967c3a36829b5002c41"", ""de...","[Action, Adventure, Crime]","[spy, based on novel, secret agent, sequel, mi...",A cryptic message from Bondâ€™s past sends him o...,6.3,4466,2015.0,2010.0
3,49026,The Dark Knight Rises,"[{""cast_id"": 2, ""character"": ""Bruce Wayne / Ba...","[{""credit_id"": ""52fe4781c3a36847f81398c3"", ""de...","[Action, Crime, Drama, Thriller]","[dc comics, crime fighter, terrorist, secret i...",Following the death of District Attorney Harve...,7.6,9106,2012.0,2010.0
4,49529,John Carter,"[{""cast_id"": 5, ""character"": ""John Carter"", ""c...","[{""credit_id"": ""52fe479ac3a36847f813eaa3"", ""de...","[Action, Adventure, Science Fiction]","[based on novel, mars, medallion, space travel...","John Carter is a war-weary, former military ca...",6.1,2124,2012.0,2010.0

In [24]:
movies['cast'][1]

'[{"cast_id": 4, "character": "Captain Jack Sparrow", "credit_id": "52fe4232c3a36847f800b50d", "gender": 2, "id": 85, "name": "Johnny Depp", "order": 0}, {"cast_id": 5, "character": "Will Turner", "credit_id": "52fe4232c3a36847f800b511", "gender": 2, "id": 114, "name": "Orlando Bloom", "order": 1}, {"cast_id": 6, "character": "Elizabeth Swann", "credit_id": "52fe4232c3a36847f800b515", "gender": 1, "id": 116, "name": "Keira Knightley", "order": 2}, {"cast_id": 12, "character": "William \\"Bootstrap Bill\\" Turner", "credit_id": "52fe4232c3a36847f800b52d", "gender": 2, "id": 1640, "name": "Stellan Skarsg\\u00e5rd", "order": 3}, {"cast_id": 10, "character": "Captain Sao Feng", "credit_id": "52fe4232c3a36847f800b525", "gender": 2, "id": 1619, "name": "Chow Yun-fat", "order": 4}, {"cast_id": 9, "character": "Captain Davy Jones", "credit_id": "52fe4232c3a36847f800b521", "gender": 2, "id": 2440, "name": "Bill Nighy", "order": 5}, {"cast_id": 7, "character": "Captain Hector Barbossa", "credit_id": "52fe4232c3a36847f800b519", "gender": 2, "id": 118, "name": "Geoffrey Rush", "order": 6}, {"cast_id": 14, "character": "Admiral James Norrington", "credit_id": "52fe4232c3a36847f800b535", "gender": 2, "id": 1709, "name": "Jack Davenport", "order": 7}, {"cast_id": 13, "character": "Joshamee Gibbs", "credit_id": "52fe4232c3a36847f800b531", "gender": 2, "id": 2449, "name": "Kevin McNally", "order": 8}, {"cast_id": 11, "character": "Lord Cutler Beckett", "credit_id": "52fe4232c3a36847f800b529", "gender": 2, "id": 2441, "name": "Tom Hollander", "order": 9}, {"cast_id": 19, "character": "Tia Dalma", "credit_id": "52fe4232c3a36847f800b549", "gender": 1, "id": 2038, "name": "Naomie Harris", "order": 10}, {"cast_id": 8, "character": "Governor Weatherby Swann", "credit_id": "52fe4232c3a36847f800b51d", "gender": 2, "id": 378, "name": "Jonathan Pryce", "order": 11}, {"cast_id": 37, "character": "Captain Teague Sparrow", "credit_id": "52fe4232c3a36847f800b5b3", "gender": 2, "id": 1430, "name": "Keith Richards", "order": 12}, {"cast_id": 16, "character": "Pintel", "credit_id": "52fe4232c3a36847f800b53d", "gender": 2, "id": 1710, "name": "Lee Arenberg", "order": 13}, {"cast_id": 15, "character": "Ragetti", "credit_id": "52fe4232c3a36847f800b539", "gender": 2, "id": 1711, "name": "Mackenzie Crook", "order": 14}, {"cast_id": 18, "character": "Lieutenant Theodore Groves", "credit_id": "52fe4232c3a36847f800b545", "gender": 2, "id": 4031, "name": "Greg Ellis", "order": 15}, {"cast_id": 55, "character": "Cotton", "credit_id": "57e28d2ec3a3681a01005b5c", "gender": 2, "id": 1715, "name": "David Bailie", "order": 16}, {"cast_id": 17, "character": "Marty", "credit_id": "52fe4232c3a36847f800b541", "gender": 2, "id": 4030, "name": "Martin Klebba", "order": 17}, {"cast_id": 57, "character": "Ian Mercer", "credit_id": "57e28d78c3a36808b900bf4f", "gender": 0, "id": 939, "name": "David Schofield", "order": 18}, {"cast_id": 62, "character": "Scarlett", "credit_id": "57e28ec5c3a3681a50005855", "gender": 1, "id": 2450, "name": "Lauren Maher", "order": 19}, {"cast_id": 63, "character": "Giselle", "credit_id": "57e28ed692514123f5005635", "gender": 1, "id": 2452, "name": "Vanessa Branch", "order": 20}, {"cast_id": 60, "character": "Mullroy", "credit_id": "57e28db2c3a3681a01005bc7", "gender": 2, "id": 1714, "name": "Angus Barnett", "order": 21}, {"cast_id": 59, "character": "Murtogg", "credit_id": "57e28da192514118f7006008", "gender": 0, "id": 1713, "name": "Giles New", "order": 22}, {"cast_id": 58, "character": "Tai Huang", "credit_id": "57e28d8ec3a3681a01005bab", "gender": 2, "id": 22075, "name": "Reggie Lee", "order": 23}, {"cast_id": 64, "character": "Henry Turner", "credit_id": "57e29119925141151100a6cc", "gender": 2, "id": 61259, "name": "Dominic Scott Kay", "order": 24}, {"cast_id": 39, "character": "Mistress Ching", "credit_id": "52fe4232c3a36847f800b5bd", "gender": 1, "id": 33500, "name": "Takayo Fischer", "order": 25}, {"cast_id": 40, "character": "Lieutenant Greitzer", "credit_id": "52fe4232c3a36847f800b5c1", "gender": 2, "id": 1224149, "name": "David Meunier", "order": 26}, {"cast_id": 49, "character": "Hadras", "credit_id": "56d1871c92514174680010cf", "gender": 2, "id": 429401, "name": "Ho-Kwan Tse", "order": 27}, {"cast_id": 56, "character": "Clacker", "credit_id": "57e28d4b92514125710055cb", "gender": 0, "id": 1123, "name": "Andy Beckwith", "order": 28}, {"cast_id": 51, "character": "Penrod", "credit_id": "56ec8c14c3a3682260003c53", "gender": 2, "id": 1056117, "name": "Peter Donald Badalamenti II", "order": 29}, {"cast_id": 61, "character": "Cotton\'s Parrot (voice)", "credit_id": "57e28dcc9251412463005678", "gender": 2, "id": 21700, "name": "Christopher S. Capp", "order": 30}, {"cast_id": 65, "character": "Captain Teague", "credit_id": "58bc2a37c3a368663003740b", "gender": 2, "id": 1430, "name": "Keith Richards", "order": 31}, {"cast_id": 66, "character": "Captain Jocard", "credit_id": "58bc2a8e925141609e03a179", "gender": 2, "id": 2603, "name": "Hakeem Kae-Kazim", "order": 32}, {"cast_id": 67, "character": "Captain Ammand", "credit_id": "58e2a21ac3a36872af00f9c2", "gender": 0, "id": 70577, "name": "Ghassan Massoud", "order": 33}]'

In [25]:
def convert3(obj):
    l=[]
    count=3
    for i in literal_eval(obj):
        if count > 0:
            l.append(i['name'])
            count=count-1
        else:
            break
    return l

In [26]:
movies['cast']=movies['cast'].apply(convert3)

In [27]:
movies['cast'][1]

['Johnny Depp', 'Orlando Bloom', 'Keira Knightley']

In [28]:
def director(obj):
    l=[]
    for i in literal_eval(obj):
        if i['job']=='Director':
            l.append(i['name'])
    return l

In [29]:
movies['crew']=movies['crew'].apply(director)

In [30]:
movies['crew'][0]

['James Cameron']

In [31]:
movies.info()

<class 'pandas.core.frame.DataFrame'>
Index: 4805 entries, 0 to 4808
Data columns (total 11 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   movie_id      4805 non-null   int64
 1   title         4805 non-null   object
 2   cast          4805 non-null   object
 3   crew          4805 non-null   object
 4   genres        4805 non-null   object
 5   keywords      4805 non-null   object
 6   overview      4805 non-null   object
 7   vote_average  4805 non-null   float64
 8   vote_count    4805 non-null   int64
 9   year          4805 non-null   float64
 10  decade        4805 non-null   float64
dtypes: float64(3), int64(2), object(6)
memory usage: 579.5+ KB

In [32]:
movies['overview']=movies['overview'].apply(lambda x:x.split())

In [33]:
movies['overview'][1]

['Captain',
 'Barbossa,',
 'long',
 'believed',
 'to',
 'be',
 'dead,',
 'has',
 'come',
 'back',
 'to',
 'life',
 'and',
 'is',
 'headed',
 'to',
 'the',
 'edge',
 'of',
 'the',
 'Earth',
 'with',
 'Will',
 'Turner',
 'and',
 'Elizabeth',
 'Swann.',
 'But',
 'nothing',
 'is',
 'quite',
 'as',
 'it',
 'seems.']

In [34]:
movies['genres']=movies['genres'].apply(lambda x:[i.replace(" ","") for i in x])
movies['keywords']=movies['keywords'].apply(lambda x:[i.replace(" ","") for i in x])
movies['crew']=movies['crew'].apply(lambda x:[i.replace(" ","") for i in x])
movies['cast']=movies['cast'].apply(lambda x:[i.replace(" ","") for i in x])

In [35]:
movies['keywords'][0]

['cultureclash',
 'future',
 'spacewar',
 'spacecolony',
 'society',
 'spacetravel',
 'futuristic',
 'romance',
 'space',
 'alien',
 'tribe',
 'alienplanet',
 'cgi',
 'marine',
 'soldier',
 'battle',
 'loveaffair',
 'antiwar',
 'powerrelations',
 'mindandsoul',
 '3d']

In [36]:
s = movies.apply(lambda x: pd.Series(x['keywords']),axis=1).stack().reset_index(level=1, drop=True)
s.name = 'keyword'

In [37]:
s.value_counts()

keyword
womandirector           324
independentfilm         320
duringcreditsstinger    308
basedonnovel            198
murder                  189
                       ...
papsmear                  1
austintexas               1
referencetojackruby       1
dairyqueenrestaurant      1
moonwalk                  1
Name: count, Length: 9765, dtype: int64

In [38]:
s=s.value_counts()
s[:5]

keyword
womandirector           324
independentfilm         320
duringcreditsstinger    308
basedonnovel            198
murder                  189
Name: count, dtype: int64

In [39]:
s = s[s > 1]

In [40]:
def filter_keywords(x):
    words = []
    for i in x:
        if i in s:
            words.append(i)
    return words

In [41]:
movies['keywords']=movies['keywords'].apply(filter_keywords)

In [42]:
movies['keywords']

0       [cultureclash, future, spacewar, spacecolony, ...
1       [ocean, drugabuse, exoticisland, eastindiatrad...
2       [spy, basedonnovel, secretagent, sequel, mi6, ...
3       [dccomics, crimefighter, terrorist, secretiden...
4       [basedonnovel, mars, medallion, spacetravel, p...
                              ...
4804                   [unitedstatesâ€“mexicobarrier, legs]
4805                                                   []
4806    [date, loveatfirstsight, narration, investigat...
4807                                                   []
4808             [obsession, camcorder, crush, dreamgirl]
Name: keywords, Length: 4805, dtype: object

In [43]:
movies['soup']=movies['overview']+movies['keywords']+movies['genres']+2*(movies['crew'])+2*(movies['cast'])

In [44]:
movies.head()

,movie_id,title,cast,crew,genres,keywords,overview,vote_average,vote_count,year,decade,soup
0,19995,Avatar,"[SamWorthington, ZoeSaldana, SigourneyWeaver]",[JamesCameron],"[Action, Adventure, Fantasy, ScienceFiction]","[cultureclash, future, spacewar, spacecolony, ...","[In, the, 22nd, century,, a, paraplegic, Marin...",7.2,11800,2009.0,2000.0,"[In, the, 22nd, century,, a, paraplegic, Marin..."
1,285,Pirates of the Caribbean: At World's End,"[JohnnyDepp, OrlandoBloom, KeiraKnightley]",[GoreVerbinski],"[Adventure, Fantasy, Action]","[ocean, drugabuse, exoticisland, eastindiatrad...","[Captain, Barbossa,, long, believed, to, be, d...",6.9,4500,2007.0,2000.0,"[Captain, Barbossa,, long, believed, to, be, d..."
2,206647,Spectre,"[DanielCraig, ChristophWaltz, LÃ©aSeydoux]",[SamMendes],"[Action, Adventure, Crime]","[spy, basedonnovel, secretagent, sequel, mi6, ...","[A, cryptic, message, from, Bondâ€™s, past, send...",6.3,4466,2015.0,2010.0,"[A, cryptic, message, from, Bondâ€™s, past, send..."
3,49026,The Dark Knight Rises,"[ChristianBale, MichaelCaine, GaryOldman]",[ChristopherNolan],"[Action, Crime, Drama, Thriller]","[dccomics, crimefighter, terrorist, secretiden...","[Following, the, death, of, District, Attorney...",7.6,9106,2012.0,2010.0,"[Following, the, death, of, District, Attorney..."
4,49529,John Carter,"[TaylorKitsch, LynnCollins, SamanthaMorton]",[AndrewStanton],"[Action, Adventure, ScienceFiction]","[basedonnovel, mars, medallion, spacetravel, p...","[John, Carter, is, a, war-weary,, former, mili...",6.1,2124,2012.0,2010.0,"[John, Carter, is, a, war-weary,, former, mili..."

In [45]:
movies_preprocessed = movies.drop(columns=["cast","crew","genres","keywords","overview"])

In [46]:
movies_preprocessed.head()

,movie_id,title,vote_average,vote_count,year,decade,soup
0,19995,Avatar,7.2,11800,2009.0,2000.0,"[In, the, 22nd, century,, a, paraplegic, Marin..."
1,285,Pirates of the Caribbean: At World's End,6.9,4500,2007.0,2000.0,"[Captain, Barbossa,, long, believed, to, be, d..."
2,206647,Spectre,6.3,4466,2015.0,2010.0,"[A, cryptic, message, from, Bondâ€™s, past, send..."
3,49026,The Dark Knight Rises,7.6,9106,2012.0,2010.0,"[Following, the, death, of, District, Attorney..."
4,49529,John Carter,6.1,2124,2012.0,2010.0,"[John, Carter, is, a, war-weary,, former, mili..."

In [47]:
movies_preprocessed['soup'][0]

['In',
 'the',
 '22nd',
 'century,',
 'a',
 'paraplegic',
 'Marine',
 'is',
 'dispatched',
 'to',
 'the',
 'moon',
 'Pandora',
 'on',
 'a',
 'unique',
 'mission,',
 'but',
 'becomes',
 'torn',
 'between',
 'following',
 'orders',
 'and',
 'protecting',
 'an',
 'alien',
 'civilization.',
 'cultureclash',
 'future',
 'spacewar',
 'spacecolony',
 'society',
 'spacetravel',
 'futuristic',
 'romance',
 'space',
 'alien',
 'tribe',
 'alienplanet',
 'cgi',
 'marine',
 'soldier',
 'battle',
 'loveaffair',
 'antiwar',
 'powerrelations',
 'mindandsoul',
 '3d',
 'Action',
 'Adventure',
 'Fantasy',
 'ScienceFiction',
 'JamesCameron',
 'JamesCameron',
 'SamWorthington',
 'ZoeSaldana',
 'SigourneyWeaver',
 'SamWorthington',
 'ZoeSaldana',
 'SigourneyWeaver']

In [48]:
import nltk
from nltk.stem import SnowballStemmer
stemmer = SnowballStemmer('english')

In [49]:
movies_preprocessed['soup']=movies_preprocessed['soup'].apply(lambda x: [stemmer.stem(i) for i in x])
movies_preprocessed['soup']=movies_preprocessed['soup'].apply(lambda x: [str.lower(i.replace(" ", "")) for i in x])
movies_preprocessed['soup']=movies_preprocessed['soup'].apply(lambda x: ' '.join(x))

In [50]:
movies_preprocessed['soup'][1]

"captain barbossa, long believ to be dead, has come back to life and is head to the edg of the earth with will turner and elizabeth swann. but noth is quit as it seems. ocean drugabus exoticisland eastindiatradingcompani loveofone'slif traitor shipwreck strongwoman ship allianc calypso afterlif fighter pirat swashbuckl aftercreditssting adventur fantasi action goreverbinski goreverbinski johnnydepp orlandobloom keiraknightley johnnydepp orlandobloom keiraknightley"

In [51]:
movies_preprocessed = movies_preprocessed.drop([1361,4272])
movies_preprocessed = movies_preprocessed.reset_index().drop(columns="index")
a= movies_preprocessed[movies_preprocessed['title']=='Batman']
movies_preprocessed

,movie_id,title,vote_average,vote_count,year,decade,soup
0,19995,Avatar,7.2,11800,2009.0,2000.0,"in the 22nd century, a parapleg marin is dispa..."
1,285,Pirates of the Caribbean: At World's End,6.9,4500,2007.0,2000.0,"captain barbossa, long believ to be dead, has ..."
2,206647,Spectre,6.3,4466,2015.0,2010.0,a cryptic messag from bond past send him on a ...
3,49026,The Dark Knight Rises,7.6,9106,2012.0,2010.0,follow the death of district attorney harvey d...
4,49529,John Carter,6.1,2124,2012.0,2010.0,"john carter is a war-weary, former militari ca..."
...,...,...,...,...,...,...,...
4798,9367,El Mariachi,6.6,238,1992.0,1990.0,el mariachi just want to play his guitar and c...
4799,72766,Newlyweds,5.9,5,2011.0,2010.0,a newlyw coupl honeymoon is upend by the arriv...
4800,231617,"Signed, Sealed, Delivered",7.0,6,2013.0,2010.0,"""signed, sealed, delivered"" introduc a dedic q..."
4801,126186,Shanghai Calling,5.7,7,2012.0,2010.0,when ambiti new york attorney sam is sent to s...
4802,25975,My Date with Drew,6.3,16,2005.0,2000.0,ever sinc the second grade when he first saw h...

In [52]:
from sklearn.feature_extraction.text import CountVectorizer
count = CountVectorizer(analyzer='word',ngram_range=(1, 2), stop_words='english')

In [53]:
from sklearn.metrics.pairwise import cosine_similarity

In [54]:
def get_recommendations(title,movies_preprocessed):
    count_matrix = count.fit_transform(movies_preprocessed['soup'])
    cosine_sim = cosine_similarity(count_matrix,count_matrix)
    movies_preprocessed = movies_preprocessed.reset_index()
    titles = movies_preprocessed['title']
    indices = pd.Series(movies_preprocessed.index, index=movies_preprocessed['title'])
    idx = indices[title]
    sim_scores = list(enumerate(cosine_sim[idx]))
    sim_scores = sorted(sim_scores, key=lambda x: x[1], reverse=True)
    sim_scores = sim_scores[1:31]
    movie_indices = [i[0] for i in sim_scores]
    return titles.iloc[movie_indices]

In [55]:
get_recommendations('Batman Begins',movies_preprocessed).head(10)

3                    The Dark Knight Rises
65                         The Dark Knight
1197                          The Prestige
4638              Amidst the Devil's Wings
9       Batman v Superman: Dawn of Justice
428                         Batman Returns
210                         Batman & Robin
1665                         Dead Man Down
1360                                Batman
299                         Batman Forever
Name: title, dtype: object

In [56]:
vote_counts = movies_preprocessed['vote_count'].astype('int')
vote_averages = movies_preprocessed['vote_average'].astype('int')
c = vote_averages.mean()
m = vote_counts.quantile(0.60)

In [57]:
def weighted_rating(x):
    v = x['vote_count']
    R = x['vote_average']
    return (v/(v+m) * R) + (m/(m+v) * c)

In [58]:
def improved_recommendations(title,movies_preprocessed):
    count_matrix = count.fit_transform(movies_preprocessed['soup'])
    cosine_sim = cosine_similarity(count_matrix,count_matrix)
    movies_preprocessed = movies_preprocessed.reset_index()
    titles = movies_preprocessed['title']
    indices = pd.Series(movies_preprocessed.index, index=movies_preprocessed['title'])
    idx = indices[title]
    sim_scores = list(enumerate(cosine_sim[idx]))
    sim_scores = sorted(sim_scores, key=lambda x: x[1], reverse=True)
    sim_scores = sim_scores[1:31]
    movie_indices = [i[0] for i in sim_scores]

    pred = movies_preprocessed.iloc[movie_indices][['title', 'vote_count', 'vote_average', 'year']]
    vote_counts = pred['vote_count'].astype('int')
    vote_averages = pred['vote_average'].astype('int')
    c = vote_averages.mean()
    m = vote_counts.quantile(0.60)
    qualified = pred[(pred['vote_count'] >= m)]
    qualified['wr'] = qualified.apply(weighted_rating,axis=1)
    qualified = qualified.sort_values('wr', ascending=False).head(10).title
    return qualified

In [65]:
improved_recommendations('The Dark Knight',movies_preprocessed)

C:\Users\USER\AppData\Local\Temp\ipykernel_8936\1537791394.py:19: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  qualified['wr'] = qualified.apply(weighted_rating,axis=1)

3455                    The Usual Suspects
1197                          The Prestige
3                    The Dark Knight Rises
119                          Batman Begins
879                    Law Abiding Citizen
205     Sherlock Holmes: A Game of Shadows
1360                                Batman
428                         Batman Returns
739                      London Has Fallen
9       Batman v Superman: Dawn of Justice
Name: title, dtype: object

In [60]:
import pickle

In [61]:
pickle.dump(movies_preprocessed,open('movie.pkl','wb'))

In [62]:
pickle.dump(cosine_similarity,open('cosine_similarity.pkl','wb'))

In [63]:
pickle.dump(count,open('count.pkl','wb'))

In [64]:
mv = movies_preprocessed
mv

,movie_id,title,vote_average,vote_count,year,decade,soup
0,19995,Avatar,7.2,11800,2009.0,2000.0,"in the 22nd century, a parapleg marin is dispa..."
1,285,Pirates of the Caribbean: At World's End,6.9,4500,2007.0,2000.0,"captain barbossa, long believ to be dead, has ..."
2,206647,Spectre,6.3,4466,2015.0,2010.0,a cryptic messag from bond past send him on a ...
3,49026,The Dark Knight Rises,7.6,9106,2012.0,2010.0,follow the death of district attorney harvey d...
4,49529,John Carter,6.1,2124,2012.0,2010.0,"john carter is a war-weary, former militari ca..."
...,...,...,...,...,...,...,...
4798,9367,El Mariachi,6.6,238,1992.0,1990.0,el mariachi just want to play his guitar and c...
4799,72766,Newlyweds,5.9,5,2011.0,2010.0,a newlyw coupl honeymoon is upend by the arriv...
4800,231617,"Signed, Sealed, Delivered",7.0,6,2013.0,2010.0,"""signed, sealed, delivered"" introduc a dedic q..."
4801,126186,Shanghai Calling,5.7,7,2012.0,2010.0,when ambiti new york attorney sam is sent to s...
4802,25975,My Date with Drew,6.3,16,2005.0,2000.0,ever sinc the second grade when he first saw h...